.header{
    background: rgb(151, 148, 143);
    border-radius: 0px 0px 10px 10px;
    height: 70px;
    width: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
}
.header-title{
    left: 15px;
    top: 13px;
    text-decoration:none;
    font-size: 30px;
    position: absolute;
    color:white;
}
.header-button{
    position: absolute;
    top: 20px;
    width: 20%;
    right: 0px;
}
.header-button-text{
    position: absolute;
    text-decoration: none;
    font-size: 20px;
    text-align: right;
    box-align: right;
    color: white;
}